
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{

  font-family: 'Montserrat', sans-serif;;
  width: 100vw;
  height: 100vh;
  overflow:  hidden;
}
.container {
  margin: 0 auto;
}
*,
*:after,
*:before{
  box-sizing: border-box;
}

